h1{
  text-align: center;
  font-family: sans-serif;
}

#header {
  font-size: 4vw;
  background-color: tan;
}
#logo{
  width: 3%;
}
#user {
  /* float: right; */
  font-size: 3vw;
  margin-top: 1vw;
  margin-left: 68vw;
}
#logout{
  width: 2%;
}
body{
  background-image: url('../images/blur-background-1.jpg');
}

.create{
  margin-top: 5vw;
  font-size: 1.5vw;
}

#container {
  text-align: center;
}

input {
  width: 20vw;
  height: 2vw;
}
